<!-- Generated template for the CustomComponent component -->

  <ion-card-content>
  <p style="font-size: medium">附近的人氣餐廳</p>
  </ion-card-content>
  <ion-slides pager="false">
    <ion-slide *ngFor="let hotFood of hotFoods">
      <ion-card (click)="goToShop()">
        <img class="foodCard" [src]="hotFood.img"/>
      </ion-card>
      <ion-card-content>
        <div [innerHTML]="hotFood.title"></div>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='star-outline'></ion-icon>
          <div [innerHTML]="hotFood.star"></div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='stopwatch'></ion-icon>
           <div [innerHTML]="hotFood.wait"></div>
          </button>
        </ion-col>
        <ion-col align-self-center text-center >
          <button ion-button color="primary" clear small icon-start>
          <ion-icon name='logo-usd'></ion-icon>
           <div [innerHTML]="hotFood.type"></div>
          </button>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>




